.banner-container {
    width: 100%;
    max-height: 450px;
    position: relative;

    @media only screen and (max-width: 992px) {
        max-height: none;
    }

    .banner-shape {
        background-size: cover;
        background-position: center;
        clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
        -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
        height: 100%;
        width: 100%;
        position: absolute;

        @media only screen and (max-width: 992px) {
            display: none;
        }
    }

    .banner-full {
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 100%;
    }

    .banner-text {
        font-size: 1rem;
        padding: 1.5rem 0 1rem 0;
    }

    .banner-extras {
        font-weight: normal;
        font-size: 1rem;
        padding-right: 4rem;

        ul {
            list-style: none;
        }
    }

    .banner-title {
        margin: 0;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 700;
    }

    .banner-content {
        padding: 1.5rem 2.5rem;
    }
}
