.highlighted-content {
    margin: 2rem auto 3rem auto;
    margin-left: 0;

    .content-wrapper {
        font-weight: 500;
        padding: 2.5rem 2.875rem;
        width: 100%;
        max-width: 800px;

        @include media-breakpoint-down('sm') {
            padding: 2rem 1.5rem;
        }

        .text-wrapper {
            max-width: 800px;
        }
    }

    h2,
    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }

    p {
        margin-bottom: 1.625rem;
    }

    &.background- {
        &red {
            background: #f7a091;
        }

        &green {
            background: #83cac6;
        }
    }

    a {
        text-decoration: none;
        color: $black !important;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .ihh-cta {
        margin-bottom: 1.625rem;
    }

    .text-wrapper {
        > :last-child {
            margin-bottom: 0 !important;
        }
    }
}
