.lift-100-wide {
    margin-top: 5rem;
    margin-bottom: 5rem;

    @include media-breakpoint-down('md') {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .lift-100-wide-wrapper {
        display: flex;
        gap: 3rem;
        align-items: center;

        @include media-breakpoint-down('md') {
            flex-direction: column !important;
            gap: 0 !important;
        }

        h3 {
            font-weight: 700;
        }

        figure {
            margin: 0;
            width: 50%;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            position: relative;

            img {
                width: unset;
                height: unset;
            }

            // Tall images
            &.is-tall {
                .lift-media {
                    width: 100%;
                    /* stylelint-disable-next-line property-no-unknown */
                    aspect-ratio: 1;
                    overflow: hidden;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; // crop to fit
                }
            }

            @include media-breakpoint-down('md') {
                flex-direction: column-reverse;
                width: 100%;
            }

            figcaption {
                font-style: italic;
                position: absolute;
                bottom: -1.5rem;
                display: block;

                @include media-breakpoint-down('md') {
                    position: unset;
                    margin-bottom: 0.25rem;
                    text-align: left !important;
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                font-weight: 700;

                a {
                    color: black !important;
                }
            }
        }

        .card {
            flex: 1 1 auto;
            width: 50%;
            padding: 2rem;
            border: none !important;
            border-radius: 0 !important;

            @include media-breakpoint-down('md') {
                width: 100% !important;
                position: unset !important;
            }
        }

        position: relative;

        &.left {
            &.overlay {
                figure {
                    max-width: 66%;

                    @include media-breakpoint-down('md') {
                        max-width: 100% !important;
                    }
                }

                .card {
                    width: 50%;
                    position: absolute;
                    right: 0;
                }
            }

            figcaption {
                text-align: left;
            }
        }

        &.right {
            flex-direction: row-reverse;

            &.overlay {
                figure {
                    max-width: 66%;

                    @include media-breakpoint-down('md') {
                        max-width: 100% !important;
                    }
                }

                .card {
                    width: 50%;
                    position: absolute;
                    left: 0;
                }
            }

            figcaption {
                text-align: right;
                right: 0;
            }
        }

        .arrow {
            color: $black !important;
            text-decoration: none;
            height: 1.5rem;

            svg {
                fill: $black !important;
            }

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}
