.lift-100-wide {
    margin-top: 3rem;

    .lift-100-wide-wrapper {
        display: flex;
        gap: 3rem;
        align-items: center;

        @include media-breakpoint-down('md') {
            flex-direction: column !important;
            gap: 0 !important;
        }

        h3 {
            font-weight: 700;
        }

        figure {
            margin: 0;
            max-width: 66%;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            position: relative;

            @include media-breakpoint-down('md') {
                flex-direction: column-reverse;
                width: 100%;
                max-width: 100%;
            }

            figcaption {
                font-style: italic;
                position: absolute;
                bottom: -1.5rem;
                display: block;

                @include media-breakpoint-down('md') {
                    position: unset;
                    margin-bottom: 0.25rem;
                    text-align: left !important;
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                font-weight: 700;

                a {
                    color: black !important;
                }
            }
        }

        .card {
            flex: 1 1 auto;
            width: 33%;
            padding: 2rem;
            border: none !important;
            border-radius: 0 !important;

            @include media-breakpoint-down('md') {
                width: 100% !important;
                position: unset !important;
            }
        }

        position: relative;

        &.left {
            &.overlay {
                .card {
                    width: 50%;
                    position: absolute;
                    right: 0;
                }
            }

            figcaption {
                text-align: left;
            }
        }

        &.right {
            flex-direction: row-reverse;

            &.overlay {
                .card {
                    width: 50%;
                    position: absolute;
                    left: 0;
                }
            }

            figcaption {
                text-align: right;
                right: 0;
            }
        }

        .arrow {
            color: $black !important;
            text-decoration: none;
            height: 1.5rem;

            svg {
                fill: $black !important;
            }

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}
