h3 {
  font-weight: 700;
}

ul {
  list-style: none;
}

li {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  h3 {
    font-weight: 500;
  }

  .lift-100-wide__card {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .lift-100-wide {
    position: relative;
  }

  .lift-100-wide__card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .lift-100-wide--left {
    .lift-100-wide__card {
      right: 0;
      margin-right: inherit;
    }
  }

  .lift-100-wide--right {
    .lift-100-wide__bg-img {
      margin-left: 25%;
    }
  }
}

.hds-arrow-right {
  color: $black;
  width: 1.5rem;
  height: 1.5rem;
}
