.media-bank-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin-bottom: 4rem;

  @include media-breakpoint-up("md") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up("lg") {
    grid-template-columns: repeat(3, 1fr);
  }

  .media-bank-item {
    background: #f3f3f3;

    .media-bank-container {
      height: 100%;
    }

    a {
      text-decoration: none;
      color: $black !important;
      height: 100%;

      &::before {
        display: none;
      }

      .title {
        height: 100%;
      }

      &:hover,
      &:focus-within {
        .title {
          text-decoration: underline;
        }
      }
    }
  }
}
