.navigation-boxes {
  ul {
    display: flex;
    justify-content: space-between;

    li {
      width: 100%;
      max-width: 21.875rem;
      margin-bottom: 1rem;
    }
  }

  a {
    display: block;
    background: #f3f3f3;
    padding: 1.25rem;
    color: black !important;
    text-decoration: none;
    font-weight: 600;

    .link-heading {
      font-weight: 400;
      margin-bottom: 0.85rem;
    }

    &:hover,
    &:focus-within {
      .link-heading {
        text-decoration: underline;
      }
    }
  }

  .next a {
    text-align: right;
  }
}

div:not(.sidebar) > .navigation-boxes {
  ul {
    flex-direction: row-reverse;
  }

  .next-article,
  .prev-article {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sidebar {
  .navigation-boxes {
    /* stylelint-disable */
    ul {
      flex-wrap: wrap;

      li {
        max-width: unset;
      }
    }

    > ul {
      margin-left: 0;
      margin-right: 0;
    }
  }
  /* stylelint-enable */
}

.content-footer {
  .navigation-boxes {
    @include media-breakpoint-down("sm") {
      display: none;
    }
  }
}
