.lift-element{
    background: #F3F3F3;
    padding: 16px 16px 32px;
    margin-bottom: 1.25rem;

    .item-heading{
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }

    a{
        color: $black !important;
        text-decoration: none;

        &:hover,
        &:focus-within{
            text-decoration: underline;
        }
    }
}