.links-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0 !important;

    .link-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        margin-bottom: 2rem;

        @include media-breakpoint-up('sm') {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up('md') {
            grid-template-columns: repeat(3, 1fr);
        }

        .list-item {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

            a {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                height: 100%;
                position: relative;

                &:hover,
                &:focus {
                    background-color: gray;
                }

                .image-container {
                    position: relative;
                    overflow: hidden;
                }

                .list-content {
                    padding: 0 1.5rem 1.5rem 1.5rem;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    margin-top: 1.25rem;

                    .item-heading {
                        font-size: 1.25rem;
                        font-weight: 600;
                        margin-bottom: 1.25rem;
                    }

                    .item-description {
                        font-weight: 400;
                    }

                    font-weight: 600;
                    color: $black !important;

                    .inline-svg {
                        margin-top: auto;

                        svg {
                            fill: black;
                        }
                    }
                }
            }
        }
    }
}
