.section-news-and-events {
    .section-events {
        padding: 3rem 0;

        .load-more-wrapper {
            text-align: center;
            margin: 0;

            a.ihh-cta {
                cursor: pointer;
                background-color: white;
                color: black !important;
                margin: auto;

                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }
    }
}
