a.ihh-cta,
button.ihh-cta {
    display: flex;
    font-weight: bold;
    background-color: #e1e1e1;
    align-items: center;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    margin-top: 0.5rem;
    width: fit-content;
}

a.ihh-cta.internal-link .inline-svg,
button.ihh-cta.internal-link .inline-svg {
    transform: translateY(-2px);
}
