.single .main {
    @extend .container;
}

.single-container {
    @include make-row(0);

    justify-content: center;
}

.content-single {
    @include media-breakpoint-down('sm') {
        @include make-col(12);
    }

    @include make-col(10);

    .container {
        padding: 0;
    }

    .go-back {
        @include media-breakpoint-down('sm') {
            margin: 10px 0;
        }

        margin: 40px 0;
        display: block;
        font-size: 30px;
    }

    h1 {
        @include media-breakpoint-down('sm') {
            margin: 0 0 25px 0;
            font-size: 26px;
        }

        margin: 0 0 40px 0;
        font-size: 32px;
    }
}

.event-meta {
    @include media-breakpoint-down('sm') {
        margin: 0 0 20px 0;
    }

    margin: 0 0 40px 0;

    p {
        @include media-breakpoint-down('sm') {
            font-size: 16px;
        }

        display: flex;
        align-items: center;
        font-size: 20px;

        img {
            @include media-breakpoint-down('sm') {
                height: 20px;
                margin: 0 15px 0 0;
            }

            height: 40px;
            width: auto;
            margin: 0 25px 0 0;
        }
    }
}

.article-image {
    @include media-breakpoint-down('sm') {
        margin: 0 0 30px 0;
    }

    margin: 0 0 65px 0;
}

.article-body {
    @include media-breakpoint-down('sm') {
        margin: 0 0 20px 0;
    }

    margin: 0 0 40px 0;
}

.event-url {
    @include media-breakpoint-down('sm') {
        width: 100%;
        margin: 15px 0 0 0;
    }

    @extend .btn;
    @extend .btn-primary;

    background: $primary-dark;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 8px 30px;
    margin: 25px 0 0 0;
}
